OPENAI_URL=https://my-deployment.openai.azure.com/openai/v1
OPENAI_API_KEY=MyRandomOpenAIKey

ELASTICSEARCH_URL=https://my-es-deployment.es.com:443
ELASTICSEARCH_API_KEY=MyRandomESKey
ELASTICSEARCH_INDEX_NAME=scifi-movies
